@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

section.hero{
    display: grid;
    grid-template-columns: .4fr .6fr;
}

@media (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
}